@page
@model IndexModel
@{
 ViewData["Title"] = "Home";
}

<div class="row">
 <div class="col-md-4">
 @if (!string.IsNullOrEmpty(Model.PhotoUrl))
 {
 <img src="@Model.PhotoUrl" class="img-thumbnail" alt="Profile photo" />
 }
 </div>
 <div class="col-md-8">
 <h2>@Model.FullName</h2>
 <dl class="row">
 <dt class="col-sm-3">Email</dt>
 <dd class="col-sm-9">@Model.Email</dd>
 <dt class="col-sm-3">Mobile</dt>
 <dd class="col-sm-9">@Model.MobileNumber</dd>
 <dt class="col-sm-3">Billing Address</dt>
 <dd class="col-sm-9">@Model.BillingAddress</dd>
 <dt class="col-sm-3">Shipping Address</dt>
 <dd class="col-sm-9">@Model.ShippingAddress</dd>
 <dt class="col-sm-3">Credit Card</dt>
 <dd class="col-sm-9">@Model.MaskedCreditCard</dd>
 </dl>
 </div>
</div>

<hr />

<p>Welcome to the application. Use the navigation to access more features.</p>
